$color-primary: #ea7c69;
$color-light: #fafafa;
$color-secondary: #9288e0;
$color-dark: #393c49;
$color-dark-bg-1: #252836;
$color-dark-bg-2: #1f1d2b;
$color-dark-grey: #889898;
$color-text-light:#ABBBC2;
