@import './variables';
html {
  font-size: 62.5%;
}
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  color: $color-light;
}
body {
  font-size: 1.4rem;
}

.icon-margin-right{
  margin-right: .8rem;
}

.bg-dark-2{
  background-color: $color-dark-bg-2;
}

.animate-scale{
  transition: all 0.3s;
  
  &:hover{
    transform: scale(1.02);
  }
  &:active:hover{
    transform: scale(.98);
  }
}

h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  color: $color-light;
}

.page, body {
  background-color: $color-dark-bg-1;
}
