@import './variables';
@import './animation';
@import './tooltip';

html {
  // making 1rem == 10px
  font-size: 62.5%;
}

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  color: $color-light;
}

body {
  font-size: 1.4rem;
}

h1,
h2 {
  font-weight: 600;
  line-height: 140%;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

.page,
body {
  background-color: $color-dark-bg-1;
}

.icon-margin-right {
  margin-right: 0.8rem;
}

.bg-dark-2 {
  background-color: $color-dark-bg-2;
}

.df-col {
  display: flex;
  flex-direction: column;
}

.df-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
